# Visual Studio
.vs/
bin/
obj/
*.user
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
*.snupkg
.nuget/

# User-specific files
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml
